pre {
	background-color: var(--vscode-textCodeBlock-background);
	border: 1px solid var(--vscode-widget-border);
	color: var(--vscode-editor-foreground);
}

a, a:link, a:visited, a code {
	color: var(--vscode-textLink-foreground);
}
