
pre {
	background-color: var(--vscode-textCodeBlock-background);
	border: 1px solid var(--vscode-widget-border);
	color: var(--vscode-editor-foreground);
}

a, a:link, a:visited, a code {
	color: var(--vscode-textLink-foreground);
}

/* pprof overrides */

html#pprof .header,
html#pprof .submenu {
	background-color: var(--vscode-menu-background);
}

html#pprof .header,
html#pprof .submenu,
html#pprof .header .title a {
	color: var(--vscode-menu-foreground);
}

html#pprof .submenu a:hover {
	background-color: var(--vscode-menu-selectionBackground);
	color: var(--vscode-menu-selectionForeground);
}

html#pprof #search {
	background-color: var(--vscode-input-background);
	color: var(--vscode-input-foreground);
}

/* graph, background polygon */
html#pprof #graph svg polygon[fill="white"] {
	display: none;
}

/* graph, edge labels */
html#pprof #graph svg g.edge text {
	fill: var(--vscode-editor-foreground);
}

/* graph, black edge labels */
html#pprof #graph svg g.edge path[fill=none][stroke=black] {
	stroke: var(--vscode-editor-foreground);
}
html#pprof #graph svg g.edge polygon[fill=black][stroke=black] {
	fill: var(--vscode-editor-foreground);
	stroke: var(--vscode-editor-foreground);
}

/* flamegraph, root */
html#pprof #stack-holder {
	background-color: var(--vscode-editor-background);
}

/* flamegraph, box text */
html#pprof #stack-holder .boxtext {
	color: initial;
}
