body {
	margin: 0;
	padding: 0;
}

.flame-graph {
	display: flex;
	flex-flow: column;
}

.flame-graph .header {
	display: flex;
	flex-flow: row;
	font-family: monospace;
	font-size: 12px;
}

.flame-graph .header span {
	flex: 1;
}

.flame-graph .header .center {
	font-weight: bold;
	text-align: center;
}

.flame-graph .header .right {
	text-align: right;
}

.boxes {
	flex: 1;
	position: relative;
}

.boxes .spacer {
	display: block;
}

.boxes canvas {
	position: absolute;
	top: 0;
	left: 0;
    display: block; /* https://stackoverflow.com/a/36975280 */
	pointer-events: none;
}